.Rproj.user
.Rhistory
.RData
notes   
*.Rproj
/Analysis/testUpgrade.Rmd
inst/doc
/ignoreFiles/
test.rda
*.RDataTmp*
*vignette*files/*
*user_abstract.tex*
*.bbl*
/vignettes/*.RData
/figures/SER/
analysis
*nb*
*.DS_Store
